#parse('shared/messages.vm')
<div id="edit-entry">
	$Form.FormTag("%{action='update', immediate='true', useLabels='true', onSubmit='lineFormSubmit(this); return false;'}")
		#parse ("MigrationLines/form.vm")
	$Form.EndFormTag()
</div>